header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid bisque;
}

.h1 {
background-color: bisque;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}