.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.blockquote {
  margin-bottom: 0;
}

.blockquote p {
  margin-bottom: 10px;
}
